<% const sub_title =  page.category || page.tag %>
<h3 class="an"><a href="/archives">「  归档  」</a><sub><%= sub_title%></sub></h3>
<div class="list an dl-1" style="font-weight: 700;">
  <%- list_categories(site.categories,{
    show_count: true,
    class: 'ca',
    transform:function(name){
      return titlecase(name)
    }
  }) %>
</div>
<section class="an dl-1 arti">
<% var last = "1998"%>
<% page.posts?.each(function (post,index) { %>
<article class="arti">
  <a class="arti-item" title="<%= post.desc || post.title %>" href="<%- url_for(post.path) %>"><%= post.title %>
  <%- partial('_partial/formate', { params: post.date }) %>
  </a>
</article>
<% }) %>
</section>
<%- partial('_partial/paginator') %>
