<!DOCTYPE html>
<html lang="zh-CN" class="dark">
<head>
	<%- partial('_global/head') %>
</head>
<body class="">
<div id="Henmin">
	<%- partial('_global/header') %>
	<%- partial('_global/shade') %>
	<main id="contain" class="wrap">
		<%- body%>
	</main>
	<%- partial('_global/footer') %>
	<div class="script">
		<%- partial('_global/pjax') %>
	</div>
</div>
</body>
</html>