<div class="intro">
	<% if(page.img){ %>
	<div class="banner an dl-1">
		<img src='<%=page.img%>' alt="">
	</div>
	<% } %>
	<h2 class="title an dl-2">
		<a href="#"><%= page.title %> </a>
	</h2>
	<div class="meta an dl-3">
    <%- partial('_partial/formate', { params: page.date }) %>
		<span class="author">by .<%= page.author || theme.Author.name %> </span>
		<% if(list_categories(page.categories)){ %>
		<span class="list">
			<%- list_categories(page.categories,{
				show_count: false,
				class: 'ca'
			}) %>
		</span>
		<% } %>
		<% if(theme.wordcount.enable){ %>
		<span><%= wordcount(page.content) %> 字</span>
		<% } %>
</div>
<%- partial('_partial/toc') %>
<div class="count an dl-5"><%- page.content %></div>
<div class="list an dl-6" style="font-size: 15px;font-weight: 700;">
	<%- list_tags(page.tags,{
		show_count: true,
		class: 'tag',
		transform:function(name){
			return titlecase(name)
		}
	}) %>
</div>
<%- partial('_global/more') %>